/*CSS reset*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/*Pseudo classi*/

/*Generics*/
body{
    background-color: rgb(30, 30, 30);
    color: white;
}
header{
    width: 100%;
    font-family: 'Lobster', cursive;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    margin-bottom: 200px;
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
}
/*Utilties*/
/*
.container{
    border: solid red 1px;
}
.row{
    border: solid rgb(0, 255, 221) 1px;
}
.col{
    border: solid rgb(246, 255, 0) 1px;
}
